@model SKBKontur.Treller.WebApplication.Services.VirtualMachines.BusinessObjects.CommandExecuteResult

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    @Styles.Render("~/bundles/css/News")
}


<div class="news-content">
    <h3>Работа с тестовыми тачками</h3>

    <h4>Запрос для выполнения</h4>
    @Html.TextArea("command", Model.Command);

    <h4>Результаты выполнения запроса</h4>
    @foreach (var machine in Model.MachineResults)
    {
        <h5>@machine.MachineName</h5>
        @Html.TextArea("result", machine.ResultText);
    }
</div>