@import "~billing-ui/styles/variables";

$leftIndent: 50px;
$rightIndent: 70px;

:local {
  .release {
    color: #666;
  }

  .date {
    background-color: $bgElementActiveLightColor;
    padding: 0 $rightIndent 0 $leftIndent;
    line-height: 2;
    font-weight: bold;
    color: #bbb;
  }

  .content {
    position: relative;
    padding: 20px $rightIndent 40px $leftIndent;
  }

  .title {
    font-weight: bold;
    margin-bottom: 15px;
    line-height: $lineHeightRegular;
  }

  .text {
    line-height: $lineHeightRegular;
  }

  .image-wrapper {
    text-align: center;
    margin-top: 20px;
  }
}