@import "~billing-ui/styles/variables";

:local {
    $width: 275px;

    .comments {
        width: $width;
        transition: $transitionDefault;
        display: none;
        margin-left: 50px;
        position: relative;

        &.is-opened {
            display: block;
        }
    }

    .content {
        top: 10px;
        overflow: hidden;
        position: sticky;
    }

    .comments-list {
        $scrollbarWidth: 18px;
        max-height: calc(100vh - 178px);
        overflow-y: auto;
        padding-right: $scrollbarWidth;
        margin-right: (-$scrollbarWidth);
    }

    .head {
        color: $textSecondaryColor;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        align-items: baseline;
    }

    .close:hover {
        color: $textBaseColor;
        cursor: pointer;
    }

    .cross {
        margin-right: .2rem;
    }
}