# git ignore file
*.user
*.suo
project.lock.json
[Bb]in
obj
_ReSharper*/
*.orig
*.rej
[Ll]ogs
*/logs/*
*/_UpgradeReport_Files/*
*/Backup/*
*UpgradeLog.*
*.DotSettings
/UnitTestResult/Result.xml
/NUnit30Settings.xml
/UnitTestResult/AccountingResult.xml
/UnitTestResult/AdministrationResult.xml
/UnitTestResult/BillingResult.xml
/UnitTestResult/CoreResult.xml
/UnitTestResult/CoreServicesResult.xml
/UnitTestResult/PartnersResult.xml
/packages/
!packages/repositories.config
.vs/*
.idea*/*
TrellerData/LogIn.json
TrellerData/*.json
node_modules/
**/Content/bundle/