@using SKBKontur.Infrastructure.CommonExtenssions
@model SKBKontur.Treller.WebApplication.Blocks.TaskList.ViewModels.CardStageInfoViewModel

<div>
    Стадия: @Model.State.GetEnumDescription(), @Model.DaysInState дн., (@Model.CurrentStateParrots/@Model.TotalStateParrots)
</div>