@model SKBKontur.Treller.WebApplication.Blocks.TaskDetalization.Blocks.Parts.BasePartTaskDetalizationBlock

@if (Model == null || !Model.IsExists)
{
    return;
}

<div>
    <span>@Model.BlockDisclamer</span>
    @if (Model.IsCurrent)
    {
        <h6>Текущая стадия</h6>
    }
    <span>@string.Format("Этап начался:{0:dd.MM.yyyy}, закончился:{1:dd.MM.yyyy}, длится:{2}", Model.PartBeginDate, Model.PartEndDate, Model.PartDueDays)</span>
    <span>Ответственные за этап:@string.Join(",", Model.PartUsers.Select(x => x))</span>

    @Html.DisplayForModel()
</div>