@model SKBKontur.Treller.WebApplication.Blocks.BaseBlock

@if (Model == null)
{
    return;
}

<div class="base-block @Model.InternalName" data-block-name="@Model.InternalName">
    @Html.DisplayForModel()
</div>