@model SKBKontur.Treller.WebApplication.Blocks.TaskDetalization.Blocks.Parts.CardReviewPartBlock

@foreach (var a in @Model.ReviewToDoListsViewModel)
{
    <div>
        @string.Format("Список: {3}, Пунктов: {0}/{1}, Следующий: {2}", a.CompleteCount, a.Count, a.LastIncompletedDescription, a.ListName)
    </div>
}