@model SKBKontur.Treller.WebApplication.Blocks.TaskDetalization.Blocks.CardWorkBlock

<h4>
    @*@string.Format("Карточка взята в работу:{0:dd.MM.yyyy} ({1} дн. назад), сейчас над ней работают:{2}", Model.BeginDate, Model.DueDays)*@
</h4>
