@model SKBKontur.Treller.WebApplication.Blocks.TaskDetalization.Blocks.CardNameBlock

<header class="task-info-header">
    <a class="task-info-title" href="@Model.CardUrl"  title="перейти в карточку Trello" target="_blank">@Model.OriginalName</a>
</header>