@using SKBKontur.Infrastructure.CommonExtenssions
@using SKBKontur.Treller.WebApplication.Implementation.Infrastructure.Extensions
@model SKBKontur.Treller.WebApplication.Implementation.TaskDetalization.BusinessObjects.Blocks.CardStateBlock

<section class="task-info-state-block">
    <span class="label task-info-state">@Model.State.GetEnumDescription()</span>
    
    <span class="text-muted">
        @Model.BeginDate.DateFormat()
    
        @if(Model.DueDate.HasValue)
        {
            <span class="fa fa-minus" style="font-size: .7em"></span>
            @Model.DueDate.SafeDateFormat() <span class="fa fa-clock-o"></span>
        }    
    </span>
</section>