@model SKBKontur.Treller.WebApplication.Blocks.TaskDetalization.Blocks.CardNameBlock

<header class="task-info-header">
    <a class="task-info-title" href="@Model.CardUrl"  title="перейти в карточку Trello" target="_blank">@Model.OriginalName</a>
    
    @if (!string.IsNullOrEmpty(Model.ControlVersionSystemBranchName) && string.IsNullOrEmpty(Model.ControlVersionSystemBranchUrl))
    {
        <span class="task-info-git">
            in branch <a href="@Model.ControlVersionSystemBranchUrl" title="перейти в git">@Model.ControlVersionSystemBranchName</a>    
        </span>
    }
</header>