@using SKBKontur.Infrastructure.CommonExtenssions
@using SKBKontur.Treller.WebApplication.Extensions
@model SKBKontur.Treller.WebApplication.Blocks.TaskDetalization.Blocks.CardStateBlock

<section class="task-info-state-block">
    <span class="label task-info-state">@Model.State.GetEnumDescription()</span>
    
    <span class="text-muted">
        @Model.BeginDate.Format()
    
        @if(Model.DueDate.HasValue)
        {
            <span class="task-info-duetime">
                <span class="fa fa-minus" style="font-size: .7em"></span>
                @Model.DueDate.SafeFormat() <span class="fa fa-clock-o"></span> 
            </span>
        }    
    </span>
</section>