@model SKBKontur.Treller.WebApplication.Blocks.TaskDetalization.Blocks.CardNameBlock

<header class="task-info-header">
    <a class="task-info-title" href="@Model.CardUrl"  title="перейти в карточку Trello" target="_blank">@Model.OriginalName</a>
    
    @if (!string.IsNullOrEmpty(Model.ControlVersionSystemBranchName))
    {
        <span class="task-info-git">
            in branch <span>@Model.ControlVersionSystemBranchName</span>
        </span>
    }
</header>