.news-content {
    margin: 0 auto;
    width: 1180px;
    padding: 10px 50px 30px;
    background: white;
    -webkit-box-shadow: 0 1px 5px #dfdfdf;
    -ms-box-shadow: 0 1px 5px #dfdfdf;
    box-shadow: 0 1px 5px #b7b7b7;
}

.news-block {
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 2px dashed #dfdfdf;
}

.news-block__header {
    font-size: 16px;
    color: #708090;
    font-style: italic;
}

.news-block__row {
    font-size: 16px;
    width: 1030px;
    padding: 15px 0;
    margin-bottom: 10px;
}

.news__button.fitrow {
    padding: 5px;
}


.news-block__row.fitrow {
    padding: 0px 0px 0px 0px;
}

.news-block__row:hover {
    background: #efefef;
}

.clearfix:after {
    display: block;
    clear: both;
    content: '';
}

.news-block__column {
    display: inline-block;
    float: left;
}

.news-block__column.date {
    width: 130px;
}
.news-block__column.title {
    padding-left: 10px;
    width: 500px;
}
.news-block__column.titleLong {
    padding-left: 10px;
    width: 650px;
}
.news-block__column.action {
    width: 180px;
}
.news-block__column.action2 {
    width: 130px;
}
.news-block__column.action3 {
    width: 260px;
}
.news-block__column.isPublished {
    width: 130px;
}

.news__button {
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: #fff;
    -ms-border-radius: 3px;
    border-radius: 3px;
    background: #4a9ede;
}

.news__button:hover {
    color: #fff;
    text-decoration: none;
    background: #2972ae;
}

.news_actualize_button {
    font-size: 10px;
}

.news_actualize_text_area {
    display: inline-block;
    padding: 3px;
    text-align: center;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    width: 300px;
}

.news-block.header {
    border-bottom: none;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.1;
}