@using SKBKontur.Treller.WebApplication.Extensions
@model SKBKontur.Treller.WebApplication.Blocks.TaskDetalization.ViewModels.UserAvatarViewModel

<div class="user-avatar-block" title="@Model.UserFullName" style="background-image: url('@Model.AvatarSrc');">
    @if (string.IsNullOrEmpty(Model.AvatarSrc))
    {
        <span class="user-avatar-initial">@Model.UserFullName.Truncate(1)</span>
    }
</div>