.taskList-boardsBlock {
    margin: 10px 0 0;

    font-size: 18px;
    font-weight: 500;
}

.boardsBlock-item {
    margin-top: 5px;
}

.boardsBlock-item:first-child {
    margin-top: 0;
}

.boardsBlock-link {
    margin-right: 5px;
}