.task-progress-block {
    width: 100%;
    margin: -10px -10px 0;
    height: 5px;
}

.task-progress-block-sub {
    padding: 30px 30px 0;
}

.task-progress-line {
    height: 5px;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.task-progress-line.total {
    background-color: #cee0ea;
}

.task-progress-line.accomplished {
    background-color: #6A9CCF;
}

.task-progress-legend {
    font-size: 11px;
    position: absolute;
    top: -16px;
    left: 0;
    
    -ms-opacity: 0;
    opacity: 0;
}

.task-list-block:hover .task-progress-legend {
    -webkit-transition: opacity .8s ease-in;
    -moz-transition: opacity .8s ease-in;
    -ms-transition: opacity .8s ease-in;
    -o-transition: opacity .8s ease-in;
    transition: opacity .8s ease-in;
    
    -ms-opacity: .9;
    opacity: .9;
}