.task-block-group {
    margin: 20px 0;
}

.task-block-group-title {
    display: inline-block;
    cursor: pointer;
    margin: 0;
}

.task-block-group-body {
    margin: 30px 0 60px;
    display: none;
}

/* todo: если первая група нужна открытой */
/*.task-block-group:first-child .task-block-group-body {
    display: block;
}*/

.task-list-block {
    margin-top: 30px;
    padding: 10px;

    background: #ffffff;
    
    -ms-border-radius: 3px;
    border-radius: 3px;

    position: relative;
}

.task-list-block:first-child {
    margin-top: 0px;
}

.task-block-header {
    font-size: 1.2em;
    margin: 7px 0 10px;
}