.task-block-members-list {
    display: inline-block;
    
    margin-left: 20px;
    vertical-align: top;
}


.task-block-members-list .user-avatar-block {
    margin-left: 5px;
}

.task-block-members-list .user-avatar-block:first-child {
    margin-left: 0;
}