.task-list-block {
    margin-top: 30px;
    padding: 10px;

    background: #ffffff;
    
    -ms-border-radius: 3px;
    border-radius: 3px;

    position: relative;
}

.task-list-block:first-child {
    margin-top: 30px;
}

.task-block-header {
    font-size: 1.2em;
    margin: 7px 0 10px;
}