@model SKBKontur.Treller.WebApplication.Blocks.TaskDetalization.ViewModels.TaskDetalizationViewModel

<h4>Общая информация</h4>
@Html.Partial("Partial/BaseBlocks", Model.CommonBlocks)
@Html.Partial("Partial/Blocks", Model.Detalization)