@model SKBKontur.Treller.WebApplication.Implementation.TaskDetalization.BusinessObjects.ViewModels.TaskDetalizationViewModel

<div class="taks-info-container">
    @Html.Partial("Partial/BaseBlocks", Model.CommonBlocks)
    

    @Html.Partial("Partial/Blocks", Model.Detalization)
</div>