@model SKBKontur.Treller.WebApplication.Blocks.TaskList.Blocks.BugsBlock

<h3>
    Информация по багам:
    <br/>
    Боевые инциденты: всего @Model.BattleBugsCount, неназначенных: @Model.BattleBugsUnassignedCount
</h3>
