@using SKBKontur.Infrastructure.CommonExtenssions
@model SKBKontur.Treller.WebApplication.Blocks.TaskList.Blocks.CardListBlock

@foreach (var group in Model.Cards.GroupBy(x => x.StageInfo.State).ToDictionary(x => x.Key, x => x.ToArray()))
{
    <div class="task-block-group">
        <h3 class="task-block-group-title">@group.Key.GetEnumDescription()</h3>
        <div class="task-block-group-body">
            @Html.DisplayFor(x => group.Value)
        </div>
    </div>
}