@using SKBKontur.Treller.WebApplication.Extensions
@model SKBKontur.TaskManagerClient.BusinessObjects.CardLabel

<span class="task-block-label card-label @Model.Color.ToLowerString()" title="@Model.Name"></span>