.task-info-block {
    position: relative;
    margin: 30px 0 10px;
}

.task-info-block-state {
    float: left;
    margin: 3px 0 0 -10px;
}

.task-info-block-header {
    margin: 0;
    cursor: pointer;
}

.task-info-block-title {
    display: inline-block;
    width: 260px;
    margin: 0;
}

.task-info-block-status {
    float: right;
    font-weight: bold;
    font-size: 16px;
}

.task-info-block-status .parrots-info-block {
    margin-right: 20px;
}

.task-info-block-content {
    margin-top: 5px;
}

.task-info-block-content.active {
    display: block;
}