.taks-info-container {
    width: 800px;
    padding: 0 10px;
}

.task-info-header {
    margin: 10px 0 5px;
}

.task-info-title {
    font-size: 24px;
    margin: 0;
    display: inline;
}

.task-info-git {
    margin-left: 7px;
    display: inline;
    color: #959595;
}

.task-info-git a {
    color: #959595;
    font-weight: bold;
}

.task-info-git a:hover {
    color: #232323;
}