@model SKBKontur.Treller.WebApplication.Blocks.TaskList.Blocks.CardListBlock


<div>
    @foreach (var card in Model.Cards)
    {
        @Html.Partial("TaskListBlocks/Card", card)
        <br/>
    }
</div>