@model SKBKontur.Treller.WebApplication.Blocks.TaskList.Blocks.CardOverallBlock

<h4>
    <label>Информация по карточкам. Количество: @Model.TotalCount, Аналитика: @Model.AnaliticsCount, Разработка: @Model.DevelopCount, Тестирование: @Model.TestingCount</label>
</h4>
