@import "~billing-ui/styles/bourbon";
@import "~billing-ui/styles/variables";

@font-face {
    font-family: "Baskerville";
    src: url("./baskerville_normal.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

$layoutBgColor: #e3e3e3;

:local {
    .layout {
        background-color: $layoutBgColor;
        padding: 40px 0 100px;
    }

    .header {
        background-color: $layoutBgColor;
        text-align: center;
        position: relative;
        margin-bottom: 35px;

        &:after {
            content: "";
            position: absolute;
            top: 51px;
            display: block;
            height: 1px;
            width: 100%;
            background-color: $textDarkColor;
        }
    }

    .title {
        font-family: "Baskerville", serif;
        background-color: $layoutBgColor;
        font-size: 45px;
        letter-spacing: 15px;
        color: $textDarkColor;
        display: inline-block;
        padding: 0 50px;
        position: relative;
        top: -35px;
        text-transform: uppercase;
        z-index: 1;
    }

    .logo {
        position: relative;
        background-color: $layoutBgColor;
        width: 80px;
        height: 101px;
        display: inline-block;
        z-index: 1;

        &:after {
            content: "";
            @include position(absolute, 0 0 0 0);
            background-image: url("./pirateship.svg");
        }
    }
}