@import "~billing-ui/styles/variables";

:local {
  .wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
  }

  .action {
    margin-top: 20px;
    color: $textSecondaryColor;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    font-size: $fontSizeRegular;

    &:hover {
      color: $textBaseColor;
    }
  }
}